body {	background-image:url('../images/WebConcept2.png');	/* fix this- the size is still kind of off */
		background-size: cover;
		background-repeat:no-repeat;
	}

.container-fluid {
  position: relative;
  min-width: 940px;
  zoom: 1;
}

img.banner	{
				width: 100%;
			}
			
ul.media-grid	{
				}
					

h1	{
	}
	
h2	{
	}	

h3	{
	}
	

footer span	{
				margin-right: 20px;
			}


	
div.footer	{
			}

html,

#container {
   min-height:100%;
   position:relative;
}
body {
   margin:0;
   padding:0;
   height:100%;
}
/* #header {				/*pushing down on the footer*/
/*  background:#ff0; */
/*   padding:20px; 
}*/
#body {					/* Where my content is pasted */
   padding:10px;
   padding-bottom:10px;   /* Height of the footer */
/*	background: #0f0;		/*green*/
}
#footer {				
   position:absolute;
   bottom:-120px;
   width:100%;
   height:60px;   /* Height of the footer */
/*   background:#6cf;		/*blue*/
}	
#container {
   height:100%;
}	



	
/*
<form action="">  
	<div class="span8">
		<div class="row">
			<div class="clearfix"><input class="span3" id="" name="" type="text" placeholder="Type name here" /></div>
		</div>
		<div class="row">
			<div class="actions">
          	<button type="submit" class="btn primary">Save changes</button>&nbsp;<button type="reset" class="btn">Cancel</button>
        	</div>
		</div>
  	</div>

        <div class="actions">
          <button type="submit" class="btn primary">Save changes</button>&nbsp;<button type="reset" class="btn">Cancel</button>
        </div>
</form>
*/
	
	
	
			
/* Things to accomplish:
	fix alignment of nav bar
		fix colors of nav bar
		add drop shadows?
	make sure background is correctly placed/sized
	do something with the media grid
		round the corners of the images
	add a background color behind the main content
		round the corners of the content box
	add a background color behind the footer
		round the corners of the content box
	reformat the headers
	reformat all the text
	align h3 into the tree
	
*/