body {	background-image:url('../images/WebConcept2.png');	/* fix this- the size is still kind of off */
		background-size: cover;
		background-repeat:no-repeat;
	}

.container-fluid {
  position: relative;
  min-width: 940px;
  zoom: 1;
}

img.banner	{
				width: 100%;
			}
			
ul.media-grid	{
				}
					

h1	{	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		font-size: 30px;
		font-style: italic;
	}
	
h2	{	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		font-size: 20px;
	}	

	

footer span	{
				margin-right: 20px;
			}


	
div.footer	{
			}

html,

#container {
   min-height:100%;
   position:relative;
}
body {
   margin:0;
   padding:0;
   height:100%;
}
/* #header {				/*pushing down on the footer*/
/*  background:#ff0; */
/*   padding:20px; 
}*/
#body {					/* Where my content is pasted */
   padding:10px;
   padding-bottom:10px;   /* Height of the footer */
/*	background: #0f0;		/*green*/
}
#footer {				
   position:absolute;
   bottom:-120px;
   width:100%;
   height:60px;   /* Height of the footer */
/*   background:#6cf;		/*blue*/
}	
#container {
   height:100%;
}	
	
	
	
	
			
/* Things to accomplish:
	fix alignment of nav bar
		fix colors of nav bar
		add drop shadows?
	make sure background is correctly placed/sized
	do something with the media grid
		round the corners of the images
	add a background color behind the main content
		round the corners of the content box
	add a background color behind the footer
		round the corners of the content box
	
*/